body{
    background-color:#333;
}

table {
    font-size: 16px;
}

article{
    margin: auto;
    max-width:800px;
    line-height:1.4;
    font-size:20px;
    font-family: "Verdana", Verdana, sans-serif;
    color:#EEE;
    padding:1px 20px 10px 20px;
    background-color:#444;
    box-shadow: 0 2px 5px rgba(0,0,0,1);
    text-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

h1, h2, h3{line-height:1.2;}

a:link{color: #CCF;}
a:visited{color: #CFC;}

img{
    border:"1px";
    border-color: #000;
}

ul{
    max-width:800px;
    font-size:20px;
    font-family: "Verdana", Verdana, sans-serif;
    color:#EEE;
    list-style-type: none;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
    background-color: #222;
    box-shadow: 0 2px 5px rgba(0,0,0,1);
}

li{
    float: left;
}

a{
    text-decoration: none;
}

ul li a:link, ul li a:visited{
    display: block;
    color: #EEE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

ul li a:hover {background-color: #272727;}
